.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16213e;
  height: 100vh;
  width: 100%;
  border: aquamarine 5px solid;
}
.projectCardsContainer {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 5px solid orange;
}
.projectCard {
  background-color: white;
  display: flex;
  color: green;
  min-width: 100px;
  height: 20em;
  flex-direction: column;
  justify-content: center;
  margin: 3px;
  border: 5px solid green;
}
.projectCard img {
  width: 20em;
  height: 20em;
}
