.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16213e;
  height: 100vh;
  width: 100%;
  border: aquamarine 5px solid;
}
.projectCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 35%;
}
.projectCard {
  background-color: white;
  display: flex;
  color: green;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
}
