.homeContainer {
  min-height: 100vh;
  border: aquamarine solid 10px;
  display: flex;
  align-items: center;
}
.profileImage {
  border: black solid 5px;
}
.profileImage img {
  transform: scale(0.25) translate(25%);
}
p {
  margin-bottom: 700px;
  border: black solid 5px;
}
